body {
    height: 100vh;
    width: 100vw;
}

kbd {
    color: #757575;
    font-size: 2rem;
}

.keys {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
}

.key {
    display: flex;
    z-index: 1;
    width: 5rem;
    height: 5rem;
    justify-content: center;
    align-items: center;
    border: .3rem solid #757575;
    border-radius: .5rem;
    flex: 0 1 auto;
    transition: all .07s ease-in-out;
}

.playing {
    transform: scale(1.1);
    border-color: #b2b2b2;
    box-shadow: 0 0 10px #b2b2b2;
}

.circle {
    animation: expand 5s ease-in;
}

@keyframes expand {

    100% {
        transform: scale(10);
    }
}